.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 175px;
  transform: rotateY(180deg);
  fill: "#4dabf7";
}

.wave .shape-fill {
  fill: #4dabf7;
}

.githubIcon {
  transition: transform 0.3s ease;
  position: absolute;
}

.githubIcon:hover {
  transform: scale(1.1);
}

.linkedinIcon {
  transition: transform 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.linkedinIcon:hover {
  transform: scale(1.1);
}
