.waves {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 147px;
  transform: rotateY(180deg);
}

.wave {
  fill: #ffffff;
}
